header{
  h1{
    img{
      width: 22%;
    }
  }
  .description{
    width: 64%;
  }
}
main{
  .countries{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    ul{
      li{
        cursor: pointer;
        height: 158px;
        margin-bottom: 45px;
        text-align: center;
        line-height: 158px;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.6rem;
        color: white;
        letter-spacing: 3px;
        text-shadow: 0 0 40px black;
        filter: saturate(20%);
        opacity: 0.8;
      }
      li.kanazawa{
        background-image: url(../images/kanazawa.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.kagawa{
        background-image: url(../images/kagawa.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.nanatsugama{
        background-image: url(../images/nanatsugama.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.fox_village{
        background-image: url(../images/fox_village.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.itsukushima{
        background-image: url(../images/itsukushima.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.factory{
        background-image: url(../images/factory.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li:hover{
        filter: saturate(100%);
        opacity: 1;
      }
    }
  }
}
