@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
  font-size: 62.5%;
  background-color: white;
}
body{
  background-image: url(../images/sky_bg-min.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
#content{
  overflow: scroll;
  height: 100vh;
}
nav{
  color: white;
  font-size: 4rem;
  margin-top: 18px;
  position: fixed;
  right: 34px;
  cursor: pointer;
  display: inline-block;
	transition: .3s;
}
nav:hover {
	transform: rotate(16deg);
}
header{
  h1{
    padding: 60px 0 50px 0;
    text-align: center;
    margin: auto;
    img{
      width: 28%;
    }
  }
  .description{
    margin: auto;
    width: 60%;
    text-align: center;
    p{
      color: black;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.2rem;
      letter-spacing: 1.3px;
      font-weight: lighter;
    }
  }
}
main{
  .countries{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    ul{
      li{
        cursor: pointer;
        height: 158px;
        margin-bottom: 45px;
        text-align: center;
        line-height: 158px;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.6rem;
        color: white;
        letter-spacing: 3px;
        text-shadow: 0 0 40px black;
        filter: saturate(20%);
        opacity: 0.8;
      }
      li.england{
        background-image: url(../images/england.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.sweden{
        background-image: url(../images/sweden.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.singapore{
        background-image: url(../images/singapore.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.turkey{
        background-image: url(../images/turkey.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.australia{
        background-image: url(../images/australia.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li.france{
        background-image: url(../images/france.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      li:hover{
        filter: saturate(100%);
        opacity: 1;
      }
    }
  }
}
footer{
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
  small{
    display: block;
    font-size: 1.4rem;
  }
}
#modal_menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity .2s ease-out;
  pointer-events: none;
  .menu_nav{
    margin-top: 100px;
    text-align: center;
    position: relative;
    transform: translateY(50px);
    transition: all .2s ease;
    margin: auto;
    li{
      margin-top: 10px;
      a{
        opacity: 0.6;
        text-decoration: none;
        font-size: 4rem;
        margin: 20px 0;
        display: inline-block;
        img.top{
          width: 10rem;
        }
        img.overseas{
          width: 22rem;
        }
        img{
          width: 15rem;
        }
      }
      a:hover{
        opacity: 1;
      }
    }
    li.social{
      margin-right: 50px;
      text-align: center;
      display:inline-block;
      a{
        color: black;
        font-size: 5rem;
      }
    }
    li:last-child{
      margin-right: 0px;
    }
  }
  .menu_close_btn{
    position: absolute;
    top: 36px;
    right: 36px;
    img{
      width: 50px;
      display: block;
    }
  }
}
body.is-menu-open #modal_menu {
  opacity: 1;
  pointer-events: auto;
  transition: all 1s ease;
}

body.is-menu-open #content {
  pointer-events: none;
  transition: all 1s ease;
  -webkit-filter: blur(6px);
     -moz-filter: blur(6px);
      -ms-filter: blur(6px);
          filter: blur(6px);
}

body.is-menu-open .menu_nav {
  transform: translateY(0);
}
body.is-menu-open:before{
  transition: 59s;
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transition: 59s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
